.btn-flotante {
font-size: 16px; /* Cambiar el tamaño de la tipografia */
font-weight: bold; /* Fuente en negrita o bold */
color: black; /* Color del texto */
border-radius: 5px; /* Borde del boton */
letter-spacing: 2px; /* Espacio entre letras */
padding: 18px 30px; /* Relleno del boton */
z-index: 99;
text-decoration: none;
}
.btn-flotante:hover {
background-color: rgba(55, 168, 168, 0.562);
transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
.btn-flotante {
font-size: 14px;
padding: 12px 20px;
bottom: 20px;
right: 20px;
}
}

.contenedor-navegacion{
    background-color: var(--oscuro);
    position: relative;
    z-index: 5;
  
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.logo h2, .navegacion a {
  color: var(--blanco);  
}
.logo h2{
    font-size: 3rem;
}
.navegacion a{
    text-decoration: none;
    font-size: 2.2rem;
    padding: 1.5rem;
    padding-left: 4rem;
    display: block;
    transition: color .3s ease-in-out;
    text-align: center;
}

@media(min-width: 768px) {
    .navegacion a{
        text-align: left;
    }
}

/*video*/
.contenido-header{
    position: relative;
}



@media(min-width: 768px) {
    .texto-encabezado h2{
        font-size: 8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}